@media screen and (min-width: 768px) {
  .header-img {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
  }

  /* home page */
  .first-section {
    display: flex;
    margin-bottom: 7rem;
  }

  .first-page {
    display: flex;
    flex-direction: column;
    margin-left: 6.8rem;
    width: 40%;
  }

  .first-page h1 {
    margin-top: 160px;
    font-size: 85px;
    line-height: 80px;
  }

  .first-page .main-text {
    margin-top: 80px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03rem;
  }

  .first-page .short-text {
    width: 40%;
    font-size: 18px;
    margin-bottom: 8.6rem;
  }

  .desktop-img {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 52%;
  }

  .desktop-img img {
    object-fit: cover;
  }

  .img-dot {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
  }

  /* project section */

  .projects-mobile {
    display: none;
  }

  .projects-desktop {
    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 1px solid red;
  }

  .project-title {
    /* grid-column: 1 / 2;
    grid-row: 1 / 2; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 35%;

    /* margin-top: 48px; */
  }

  .project-title h2 {
    transform: rotate(-90deg);
    margin-top: 140px;
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
  }

  

  .project-img-1,
  .project-info-1 {
    /* grid-row: 1 / 2; */

    /* margin: -6px 0; */
  }

  .projects-desktop .project-info-1 {
    /* grid-column: 3 / 8;
    grid-row: 1 / 2; */
    display: block;
    height: 40vh;
    align-self: flex-end;
  }

  .project-info-1 .project-info-1-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
  }

  .project-info-1 .project-info-1-list {
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    margin-top: 48px;
  }

  .project-info-1 .project-info-1-link {
    margin-top: 24px;
  }

  .project-img-2,
  .project-info-desktop {
    grid-row: 2 /3;

    /* margin: -12px 0; */
  }

  .projects-desktop .project-info-desktop {
    display: block;
    grid-column: 6 / 8;
    align-self: center;
    height: 30vh;
  }

  .project-info-desktop .project-info-2-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 80%;
  }

  .project-info-desktop .project-info-desktop-list {
    margin-top: 24px;
    font-weight: 300;
    font-size: 30px;
    line-height: 80%;
  }

  .project-img-1 {
    width: 52%;

    /* margin: -12px 0; */
  }

  .project-img-1 img {
    width: 100%;
  }

  .project-img-2 {
   width: 33.3%;
  }

  .project-img-2 img {
    width: 100%;
  }

  .project-img-3 {
    width: 33.3%;
    align-self: flex-end;
    margin: -12px 0;
  }

  .project-img-3 img {
    width: 100%;
    /* height: auto; */
  }

  .project-geometry-2,
  .project-img-4 {
    grid-row: 2 / 4;
  }

  .project-img-4 {
    width: 33.5%;
    align-self: flex-start;
    margin-left: 9.2rem; 
    margin-top: -5.5rem;
  }

  .project-img-4 img {
    width: 100%;
  }

  .project-img-5 {
 width: 55.5%;
  }

  .project-img-5 img {
    width: 100%;
  }

  .project-img-6 {
    width: 44.1%;
  }

  .project-img-6 img {
    width: 100%;
  }

  .project-geometry-1 {
    width: 33.3%;
  }

  .project-geometry-1 img {
    width: 100%;
  }

  .project-geometry-2 {
 width: 100%;
 height: auto;
    align-self: flex-start;
    margin-left: 47rem;
    margin-top: -16.8rem;
  }

  .project-geometry-2 img {
    width: 100%;

    /* height: auto; */
  }

  .project-geometry-3 {
    grid-column: 1 / 2;
    grid-row: 4 /5;
  }

  .project-geometry-4 {
   width: 40%;
  }

  .project-geometry-4 img {
    float: right;
  }

  .project-dots {
 width: 13%;
  }

  .project .img-gallery {
    display: none;
  }

  .project-img {
    display: none;
  }

  .project-info{
    display: none;
  }
  
  /* .project-img-1:hover ~ .project-info {
    display: block;
  }

  .project-img-1:hover + .project-info-1 {
    display: block;
  } */

  /* About secction */

  .about-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 85%;
    gap: 2%;
    margin: 150px auto;
  }

  .about-page .about-intro {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .about-intro .about-title {
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
  }

  .about-intro .about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03rem;
  }

  .about-intro .about-link-desktop {
    width: 50%;
  }

  .about-page .about-info {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
  }

  .about-page .about-info-1 {
    width: 45%;
    padding: 36px 0 0 50px;
  }

  .about-info-1 img {
    margin-top: -1.6rem;
  }

  .about-page .about-info-2 {
    width: 45%;
  }

  .about-page .about-info-3 {
    width: 45%;
    margin-top: -20px;
  }

  .about-page .about-dots {
    width: 45%;
    padding-left: 28px;
    display: flex;
  }

  .about-dots img {
    width: 100%;
  }

  /* form section */

  .last-part-wraper {
    height: auto;
    width: 100%;
  }

  .last-part-wraper .last-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .last-part-img img {
    width: 20%;
  }

  .first-img,
  .last-img {
    display: flex;
    justify-content: space-between;
  }

  .first-img img {
    width: 75%;
    align-self: flex-start;
    margin-top: -0.5rem;
  }

  .last-part .last-part-main {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .last-part-main .last-title {
    font-weight: 400;
    font-size: 105px;
    line-height: 100%;
    text-align: center;
  }

  .last-part-main .last-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    margin-bottom: 50px;
    text-align: center;
  }

  form .desktop-form {
    display: flex;
    gap: 40px;
  }

  .desktop-form input {
    width: 250px;
    height: 60px;
    font-size: 15px;
    line-height: 17px;
  }

  .desktop-form textarea {
    font-size: 17px;
    line-height: 26px;
  }

  .last-link {
    width: 50%;
    margin: 0 auto;
  }

  .last-link p {
    font-size: 18px;
    line-height: 26px;
  }

  .last-btn a {
    text-align: center;
    justify-content: center;
  }

  .last-part .last-img {
    align-self: flex-end;
    height: 19rem;
  }

  .footer {
    height: auto;
    margin-top: -1rem;
  }

  .footer-link {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-bottom: 2rem;
    width: 100%;
  }

  .footer-link .footer-info {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 1.7rem;
  }

  .footer-link .footer-text {
    font-size: 18px;
  }

  .footer .icons {
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.7rem;
    gap: 30px;
  }
}
