@media screen and (min-width: 768px) {
  .header-img {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .mobile_menu_icon {
    display: none;
    visibility: hidden;
  }

  .mobile_close_icon {
    display: none;
    visibility: hidden;
  }

  .mobilemenu {
    display: none !important;
    visibility: hidden;
  }

  /* home page */
  .first-section {
    display: flex;
    margin-bottom: 7rem;
  }

  .first-page {
    display: flex;
    flex-direction: column;
    margin-left: 6.8rem;
    width: 40%;
  }

  .first-page h1 {
    margin-top: 160px;
    font-size: 85px;
    line-height: 80px;
  }

  .first-page .main-text {
    margin-top: 80px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03rem;
  }

  .first-page .collab-btn {
    width: 50%;
    font-size: 18px;
    margin-bottom: 8.6rem;
  }

  .desktop-img {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 52%;
  }

  .desktop-img img {
    object-fit: cover;
  }

  .img-dot {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
  }

  .img-gallery {
    display: none;
  }

  /* project section */

  /* About secction */

  .about-page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 85%;
    gap: 2%;
    margin: 150px auto;
  }

  .about-page .about-intro {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .about-intro .about-title {
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
  }

  .about-intro .about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03rem;
  }

  .about-intro .about-link-desktop {
    width: 50%;
  }

  .about-page .about-info {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
  }

  .about-page .about-info-1 {
    width: 45%;
    padding: 36px 0 0 50px;
  }

  .about-info-1 img {
    margin-top: -1.6rem;
  }

  .about-page .about-info-2 {
    width: 45%;
  }

  .about-page .about-info-3 {
    width: 45%;
    margin-top: -20px;
  }

  .about-page .about-dots {
    width: 45%;
    padding-left: 28px;
    display: flex;
  }

  .about-dots img {
    width: 100%;
  }

  /* form section */

  .last-part-wraper {
    height: auto;
    width: 100%;
  }

  .last-part-wraper .last-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .last-part-img img {
    width: 20%;
  }

  .first-img,
  .last-img {
    display: flex;
    justify-content: space-between;
  }

  .first-img img {
    width: 75%;
    align-self: flex-start;
    margin-top: -0.5rem;
  }

  .last-part .last-part-main {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .last-part-main .last-title {
    font-weight: 400;
    font-size: 105px;
    line-height: 100%;
    text-align: center;
  }

  .last-part-main .last-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-bottom: 50px;
    text-align: justify;
  }

  form .desktop-form {
    display: flex;
    gap: 40px;
  }

  .desktop-form input {
    width: 250px;
    height: 60px;
    font-size: 15px;
    line-height: 17px;
  }

  .desktop-form textarea {
    font-size: 17px;
    line-height: 26px;
  }

  .last-link {
    margin: 0 auto;
    width: 50%;
  }

  .last-link .last-btn {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }

  .last-part .last-img {
    align-self: flex-end;
    height: 19rem;
  }

  .footer {
    height: auto;
    margin-top: -1rem;
  }

  .footer-link {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-bottom: 2rem;
    width: 100%;
  }

  .footer-link .footer-info {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 1.7rem;
  }

  .footer-link a {
    font-size: 18px;
  }

  .footer .icons {
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.7rem;
    gap: 30px;
  }

  /* modal */

  .menu-container {
    display: none;
  }

  .desktopmenu {
    display: flex;
  }

  .modal-container {
    margin: 0;
  }

  .modalbox {
    height: auto;
    padding: 2% 3%;
    width: 55vw;
    margin: 5% auto;
  }

  .modal-close-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .modalbox .popup-image {
    width: 100%;
  }

  .modalbox h3 {
    font-size: 50px;
  }

  .close-modal {
    margin: 0;
    width: 1.5rem;
  }

  .language_used_modal {
    margin: 1rem 0;
  }

  .modal-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .modalbox a button {
    font-size: 18px;
    width: 90%;
    margin: 0 3vw 0 0 !important;
    justify-content: center;
  }

  .modalbox button img {
    margin-left: 15px;
  }

  .workdetails {
    margin-top: -175px;
    opacity: 0;
    transition: opacity, 0.2ms, ease-in, 1200ms;
  }

  .workdetails:hover {
    opacity: 1;
    cursor: pointer;
  }

  .project {
    margin-top: 8rem;
    display: grid;
    border-bottom: 3px solid #ddd;
  }

  .firstproject {
    display: grid;
    grid-template-columns: 30% auto;
  }

  .firstproject_name {
    background-image: url('../images/image_dots.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .firstproject_name h2 {
    transform: rotate(-90deg);
    margin-top: 2rem;
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
    height: 18rem;
  }

  .seeproject {
    width: 13vw;
  }

  .sec_third {
    display: grid;
    grid-template-columns: 50% 0% 50%;
  }

  .secondimage {
    display: flex;
    align-items: flex-end;
  }

  .sec_back_image {
    width: 100%;
  }

  #card2 {
    margin-top: auto;
  }

  .four_five {
    display: grid;
    grid-template-columns: 50% 0% 50%;
    height: 100%;
  }

  #card4 .work_image {
    border: 1px solid #ddd;
    border-bottom: none;
    margin-bottom: 5vh;
  }

  #card5 .work_image {
    margin-bottom: 5vh;
    border: 1px solid #ddd;
    border-bottom: none;
  }

  .lastcard {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: -14.8rem;
  }

  .lastbg {
    background: url('./images/image-geometry_5.svg') no-repeat top left, url('assets/image-geometry_4.svg') no-repeat top right;
  }

  .boxinfo {
    margin: 0;
  }

  .wrapbox {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .boximage {
    background-image: url('../images/image-geometry_7.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
