@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header part */
.heading {
  background-image: url(../images/image_geometry_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  /* height: 4.7rem;
   */
  height: auto;
}

.header-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuBar {
  align-self: center;
}

.navbar {
  display: none;
  width: 100%;
}

.nav-menu {
  display: flex;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  margin-left: -45px;
  width: 100%;
  gap: 25px;
}

.nav-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.nav-item a {
  text-decoration: none;
  color: #1a2236;
}

.modal-close-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
}

.mobile_menu_icon {
  padding-right: 16px;
  cursor: pointer;
}

.desktopmenu {
  display: none;
}

.mobile_close_icon {
  display: none;
  padding-right: 16px;
  cursor: pointer;
}

.mobilemenu {
  z-index: 2;
  width: 100vw;
  height: 85vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/image_geometry_menu_2.svg) no-repeat bottom;
  background-size: contain;
}

.mobilemenu ul {
  margin-top: -120px;
}

.mobilemenu ul li {
  list-style: none;
  text-align: center;
  margin-top: 40px;
  margin-left: -30px;
  font-size: 16px;
}

/* main section */

main {
  height: auto;
  width: 100%;
}

/* Home page section */
.first-section {
  height: auto;
  width: 100%;
  padding-bottom: 1rem;
}

.first-page {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.first-page h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  height: 100px;
  padding-top: 40px;
}

.first-page .main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding-top: 55px;
  margin-bottom: 2rem;
}

.first-page .collab-btn {
  background: #1a2236;
  color: #fff;
  font-size: 16px;
  padding: 12px 30px;
  width: 100%;
  border: none;
  transition-duration: 1s;
  margin-bottom: 40px;
  cursor: pointer;
}

.collab-btn:hover {
  background: rgba(26, 34, 54, 0.8);
  color: white;
  border: 1px solid white;
}

.img-gallery img {
  width: 100%;
}

.desktop-img {
  display: none;
}

.img-dot {
  display: none;
}

/* project section */

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project h2 {
  padding: 0 0 30px 16px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin: 40px 16px;
}

.secondimage {
  display: none;
}

.work_cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.work_image {
  width: 100%;
}

.workdetails {
  background-color: #1a2236;
  height: 156px;
  margin: 0;
  padding: 5px 0 16px 20px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.work_title {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.workdetails .language_used {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 300;
}

.language_used .lang-item {
  color: #1a2236;
  background: #98dede;
  padding: 7px 10px;
  width: auto;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

/* About section */

.about-page {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.about-page h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.about-page p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding-bottom: 40px;
  text-align: justify;
}

.about-page .about-link {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.about-link .cv-btn {
  background: #1a2236;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  padding: 12px 30px;
  width: 100%;
  border: none;
  transition-duration: 1s;
}

.cv-btn-link {
  display: flex;
}

.cv-btn span {
  margin-left: 20px;
}

.cv-btn:hover {
  background: rgba(26, 34, 54, 0.8);
  color: white;
  border: 1px solid white;
}

.download-icon {
  margin-top: 10px;
  cursor: pointer;
}

.about-page .about-info-1 {
  background: #1c528a;
  width: 100%;
  height: 300px;
  color: #fff;
  margin-bottom: 20px;
  padding: 56px 0 0 50px;
}

.about-info-1 h3 {
  padding-bottom: 10px;
}

.about-info-1 .about-list {
  list-style-position: inside;
}

.about-info-1 img {
  float: right;
  margin-top: -3rem;
}

.about-page .about-info-2 {
  background: #e2505c;
  height: 300px;
  color: #fff;
  padding: 38px 0 0 50px;
  margin-bottom: 20px;
}

.about-info-2 h3 {
  padding-bottom: 10px;
}

.about-info-2 .about-list {
  list-style-position: inside;
}

.about-info-2 img {
  float: right;
  margin-top: 1.6rem;
}

.about-page .about-info-3 {
  background: #febf52;
  height: 300px;
  color: #fff;
  padding: 30px 0 0 50px;
  margin-bottom: 45px;
}

.about-info-3 h3 {
  padding-bottom: 10px;
}

.about-info-3 .about-list {
  list-style-position: inside;
}

.about-info-3 img {
  float: right;
}

.about-dots {
  display: none;
}

/* form section */

.first-img,
.last-img {
  display: none;
}

.last-part-wraper {
  background: #e5e5e5;
  height: auto;
  padding-bottom: 1rem;
}

.last-part {
  width: 90%;
  margin: 0 auto;
}

.last-part h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.last-part p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-bottom: 20px;
  text-align: center;
}

.last-part .form {
  display: flex;
  flex-direction: column;
}

input {
  color: #7d7c84;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background-color: white;
}

textarea {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #7d7c84;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background-color: white;
}

#error-message {
  color: red;
  font-size: 13px;
  margin: 10px 0;
  font-weight: 300;
}

.last-part .last-link {
  height: 44px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.last-link .last-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
  color: #fff;
  background: #1a2236;
  padding: 10px;
  cursor: pointer;
}

.last-link .last-btn:hover {
  background: rgba(26, 34, 54, 0.8);
  color: white;
  border: 1px solid white;
}

.footer {
  height: auto;
  padding-bottom: 1rem;
  background: #1a2236;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 32px;
}

.footer-link .footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info a {
  text-decoration: none;
  width: auto;
  display: flex;
  color: #92dcdc;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-info a span {
  margin-left: 1rem;
}

.share-icon {
  margin-left: 15px;
  cursor: pointer;
}

.footer .icons {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 2rem;
  margin: 0 auto;
  cursor: pointer;
  height: 5%;
}

.footer .icon-list {
  list-style-type: none;
}

/* modal */

.modal-container {
  margin: 0;
  background: #1a2236;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: none;
}

.modalbox {
  height: auto;
  background: #98dede;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: space-between;
}

.language_used_modal {
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 300;
}

.language_used_modal .lang-list {
  color: white;
  border: 0.5px solid white;
  background: rgba(26, 34, 54, 0.9);
  padding: 7px 10px;
  width: auto;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

.popup-image {
  max-width: 100%;
}

.seeproject {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 57%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 9px 20px;
  border: 1px solid white;
  margin-top: 10px;
  transition: all 1s;
}

.seeproject i {
  transition-duration: 1s;
}

.seeproject:hover {
  background-color: rgba(26, 34, 54, 0.2);
  color: white;
  cursor: pointer;
}

.seeproject:hover i {
  margin-right: 10px;
}

.modal-button-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.modalbox button {
  margin-left: 6vw !important;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #1a2236;
  background: transparent;
  padding: 12px 80px;
  background-color: #1a2236;
  color: white;
  cursor: pointer;
}

.modalbox button:hover {
  background-color: rgba(26, 34, 54, 0.8);
}

button:hover img {
  filter: invert(87%) sepia(90%) saturate(1%) hue-rotate(189deg) brightness(110%) contrast(97%);
}

/* .boxinfo li {
  margin-left: -22px;
  font-weight: 600;
} */

.button-image {
  width: 20px;
}
